*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
body{
    background-color: antiquewhite;
}
section{
    scroll-margin-top: 90px;
}
header{
    background-color: #ffdeb5;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    color: rgb(58, 58, 58);
    text-decoration: none;
    
}
header .conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 2em;
    font-weight: bold;
}

.baner{
    background: url(../img/tlvz.webp) no-repeat center/cover;
    height: 400px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5em;
    text-align: center;
}
#sobre{
    padding: 35px;
    background-color: rgb(252, 239, 223);

}
.sobre-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}
.sobre-texto{
    flex: 1;
    padding: 20px;

}
.sobre-texto h1{
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 15px;
}
.sobre-texto p{
    font-size: 1.3em;
    line-height: 1em;
    text-align: justify;
    margin-top: 10px;
}

.hex-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}
.hex img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.hex{
    width: 200px;
    height: 120px;
    position: relative;

}
@media(max-width:500px){
    header .conteiner{
        flex-direction: column;
        text-align: center;

    }
    nav ul{
        margin-top: 10px;
        flex-direction: column;

    }
    .sobre-conteiner{
        flex-direction: column;
        text-align: center;
    }
  
}
.conteiner{
    max-width: 1200px;
    margin: auto;
    padding: 10px 10px 10px 10px;
}
@media(max-width:479px){
    .baner{
        font-size: 1.3em;
    }

}
@media(max-width:410px){
    .baner{
        font-size: 1em;
    }
}

div .rodape{
    text-align: center;
    padding: 15px 15px;
    background-color: #ffdeb5;
}