
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: antiquewhite;
}
section{
    scroll-margin-top: 90px;
}
header{
    background-color: #ffe4c4;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 2000;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    color: rgb(58, 58, 58);
    text-decoration: none;
    
}
header .conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 2em;
    font-weight: bold;
   
}
.logo a{
    color: rgb(58, 58, 58);
    text-decoration: none;
    font-weight: bold;
}

.baner{
    background: url(../img/tlvz.webp) no-repeat center/cover;
    height: 400px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5em;
    text-align: center;

}
.baner-contato{
    background: url(./site_novo_bom/img/oi.png) no-repeat center/cover;
    height: 400px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5em;
    text-align: center;
    

}
#sobre{
    padding: 35px;
    background-color: antiquewhite;

}
.sobre-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}
.sobre-texto{
    flex: 1;
    padding: 20px;

}
.sobre-texto h1{
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 15px;
}
.sobre-texto p{
    font-size: 1.3em;
    line-height: 1em;
    text-align: justify;
    margin-top: 10px;
}

.hex-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}
.hex img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.hex{
    width: 200px;
    height: 120px;
    position: relative;

}
@media(max-width:500px){
    header .conteiner{
        flex-direction: column;
        text-align: center;

    }
    nav ul{
        margin-top: 10px;
        flex-direction: column;

    }
    .sobre-conteiner{
        flex-direction: column;
        text-align: center;
    }
  
}
.conteiner{
    max-width: 1200px;
    margin: auto;
    padding: 10px 10px 10px 10px;
}
@media(max-width:510px){
    .baner{
        font-size: 1.3em;
    }

}
@media(max-width:440px){
    .baner{
        font-size: 1em;
    }
}
@media(max-width:157px){
    .baner{
        font-size: 0.7em;
    }
}

div .rodape{
    
    text-align: center;
    padding: 15px 15px;
    background-color: rgb(255, 232, 203);
    
}
#funcao .centro{
    margin-left: 20px;
}

#funcao .container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    text-align: center; 
    padding: 50px 0; 
    margin: 15px;
}

#funcao .item {
    background-color: white; 
    border: 1px solid #ddd;
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    
    cursor: pointer; 
}

#funcao .item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#funcao .item:active {
    transform: scale(0.98); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); 
}

#funcao .item p {
    margin-top: 15px; 
    font-size: 1.2em; 
    color: #4d3f72; 
}

#funcao .imagem img {
    width: 100%;
    max-width: 150px; 
    height: auto; 
    margin-bottom: 10px; 
}
.card{
    color: aliceblue;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba( gray);
    max-width: 300px;
    margin: auto;
    text-align: center;

}
.card h3{
    margin-top: 0;

}
.bnt{
    display:inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: blue;
    color: aliceblue;
    text-decoration: none;
    border-radius:6px ;
    cursor: pointer;
    
}
.modal{
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: auto;    
    text-align: justify;   

}
.modal{
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal:target{
    display: flex;

}
.modal-content{
    max-height: 39vh;
    overflow-y: auto; 
    background: rgb(22, 20, 20);
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: justify;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

    
}
.modal-content h3{
     margin-top: 2%;
    font-size: 1.1rem;
    margin-bottom: 2%;
}
@media (max-width:500 ){
    section{
        scroll-margin-top: 200px;
    }
    .modal{
        margin-top: 300px;
    }
    .modal-content{
        max-height: 60vh;
    }
}
.close-bnt{
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background-color: red;
    color: aliceblue;
    border-radius: 6px;
    text-decoration: none;
}
.modal{
    background: rgba(141, 139, 139,0.5) ;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgb(0,0,0);
    margin: auto;    
    text-align: center; 
}
.centro{
    text-align: center;
}
.hex1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.hex1{
    width: 200px;
    height: 120px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    overflow: hidden;
    background-color: #ccc;
    position: relative;
}
#galeria {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: transparent;
    text-align: center;
}

#galeria h1 {
    margin-bottom: 31px;
    color: #333333;
    font-size: 2.5rem;
}

.ft-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 100%;
}

.imgaleria {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.foto:hover {
    transform: scale(1.05);
}
.centro{
    text-align: center;

}
 .form-es {
    background-color:#ffe4c4; ;
    border-radius: 12px;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    color: #000000;
  }
  
  .form-es{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .form-es input,
  .form-es select,
  .form-es textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1.1em;
    margin-top: 8px;
  }
  
  .form-es input[type="checkbox"],
  .form-es input[type="radio"] {
    margin-right: 8px;
    margin-top: 0;
  }
  
  .form-es label {
    margin-bottom: 5px;
  }

  input[type="range"] {
    accent-color: #000000; 
  }
  .form {
    background-color: #ffe4c4;;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    color: #000000;
    margin-bottom: 60px;
  }
.bnt-contato{
    padding: 5px;
    background-color: #ffe4c4;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);


}
.suc{
    background-color: rgb(123, 233, 113, 0.7);
    border: solid black 0.1em;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.rodape{
    margin-top:240px ;
}
@media (max-width:305px){
    .midia-text{
        font-size: 1.5em;

}
}
.tabela{
    border: solid black 0.1em;
    border-radius: 7px;
    margin:0 auto  ;
    width: 70%;
    margin-top: 50px;
    
    
    
}
.tabela thead th{
    color: #000000;
    border: solid rgb(255, 232, 203) 0.1em ;
    
}

.tabela td{
    border: solid black 0.1em;
    text-align: center;
    padding: 10px;
    border: solid rgb(255, 232, 203) 0.1em ;
    


}
.tabela tr{
    text-align: center;
    padding: 10px;
    border: solid rgb(255, 232, 203) 0.1em ;
}
.tabela .cabesa-tabela, th{
    background-color: #000000;
    background-color:rgb(255, 232, 203);
}
.tabela{
    overflow-x: scroll;
}
#jogo{
    margin-top: 100px;
   text-align: center;
}
.logo-img{
    width: 8%;
   
}